AddDefaultCharset UTF-8
DefaultLanguage en-US
AddType 'application/rdf+xml; charset=UTF-8' .rdf
AddType 'text/turtle; charset=UTF-8' .ttl
RewriteEngine On
# remove trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteRule ^(.*[^/])$ $1/index.html [L]
RewriteRule ^(.*)/(rdf|ttl)$ $1/index.$2 [L]
