AddDefaultCharset UTF-8
DefaultLanguage en-US
AddType 'application/rdf+xml; charset=UTF-8' .rdf
AddType 'text/turtle; charset=UTF-8' .ttl
DirectorySlash Off
RewriteEngine On
RewriteRule ^(.*)/roman-emperors/$ /$1/roman-emperors [R=301,L]
RewriteRule ^(.*)/roman-emperors$ roman-emperors/index.html [L]
RewriteRule ^(.*)/roman-emperors/about-(.+)/$ /$1/roman-emperors/about-$2 [R=301,L]
RewriteRule ^(.*)/roman-emperors/about-([^/]+)$ roman-emperors/html/about-$2.html [L]
RewriteRule ^(.*)/roman-emperors/about-([^/]+)/html$ roman-emperors/html/about-$2.html [L]
RewriteRule ^(.*)/roman-emperors/about-([^/]+)/rdf$ roman-emperors/rdf/about-$2.rdf [L]



