AddDefaultCharset UTF-8
DefaultLanguage en-US
AddType 'application/rdf+xml; charset=UTF-8' .rdf
AddType 'text/turtle; charset=UTF-8' .ttl
DirectorySlash Off
RewriteEngine On
RewriteCond  %{DOCUMENT_ROOT}/$1.html  -f
RewriteRule  ^(.*?)(\.html)?/$         /$1       [R=301,L]

RewriteCond  %{DOCUMENT_ROOT}/$1       -d
RewriteRule  ^(.*?[^/])$               /$1/      [R=301,L]

RewriteCond  %{DOCUMENT_ROOT}/$1.html  -f
RewriteRule  ^(.*)$                    /$1.html  [L,NC]




